.ios, .md {

  page-home {

      .question-number {
        padding-bottom: 24px;
        padding-top: 16px;
        font-family: 'Merriweather Sans', sans-serif;
      }

      .question {
        padding-bottom: 64px;
        font-family: 'Merriweather Sans', sans-serif;
      }

      ion-slide {
          align-items: flex-start;
      }

      ion-list {
        padding: 0 16px;
      }

      ion-item {
          margin-bottom: 5px;
          font-size: 1;
          background-color: transparent;
          border-radius: 3em;
          border: 1px solid black !important;
          padding: 8px 26px;
          margin-bottom: 16px;
      }

      flash-card {
          color: #000;

          img {
              width: 70%;
              height: auto;
          }
      }

      .start-slide {
          justify-content: center;
          align-items: center;

          button {
              font-size: 1.3em;
              font-weight: bold;
          }
      }

      .questions {
        justify-content: center;
        align-items: center;
      }

  }

}
